html, body {
  margin: 0;
  padding:0;
  
  ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.dress-award-list-wrapper {
  width: 686px;
  margin: 0 auto;
  padding: 0 21px;

  .sku-info-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;

    .sku-icon {
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .selected-item {
      border: 2px solid #FA7199;
      border-radius: 27px;
    }
    .sku-icon {
      position: absolute;
      width: 47px;
      height: 47px;
      right: 80px;
      bottom: 30px;
    }
    .sku-item-container {
      position: relative;
      top:0;
      left: 0;

      .select {
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
      }
    }
    .sku-item {
      height: 224px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    &.num-1 {
      .sku-item {
        width: 644px;
      }
      .sku-icon {
        right: 80px;
      }
    }
    &.num-2 {
      .sku-item {
        width: 311px;
      }
      .sku-icon {
        right: 50px;
      }
    }
    &.num-3 {
      .sku-item {
        width: 205px;
      }
      .sku-icon {
        right: 25px;
      }
    }
  }
  .middle-text-wrapper {
    margin: 0 auto;
    background-size: 100% 100%;
  }

  .plus-info-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    .plus-item-container {
      position: relative;
      margin-bottom: 14px;
      top:0;
      left: 0;

      .plus-item {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        top:0;
        left: 0;
        border-radius: 11px;
        overflow: hidden;
      }

      .select {
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
      }

    }

    .plus-icon {
      width: 41px;
      height: 41px;
      position:absolute;
      right: 20px;
      bottom: 20px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    // 售罄图片
    .sell-out {
      width: 84px;
      height: 67px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: absolute;
      bottom:0;
      right: 0;
    }

    &.row {
      flex-wrap: nowrap;
      overflow-y: auto;
      align-items: flex-start;
      justify-content: flex-start;

      .plus-item-container {
        width: 283px;
        margin-right: 14px;
        flex-shrink: 0;
      }

      &.spec {
        .plus-item-container {
          width: 315px;

          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
    }

    &.column {
      .plus-item-container {
        width: 315px;
        margin-right: 14px;

        &:nth-child(2n) {
          margin-right: 0px;
        }
      }
    }
  }
  .buy-btn {
    background-size: 100% 100%;
    margin: 30px auto 10px;
  }
}